* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Source Serif 4", serif;
}

main {
  max-width: 32rem;

  margin-inline: auto;
  padding: 5.6rem 4rem;
  box-sizing: content-box;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.recipe h1,
.ingredients h1 {
  color: #a54328;
  font-size: 2.85rem;
  line-height: 3.6rem;
}

.recipe img {
  width: 100%;
  margin-block: 3.2rem;
}

.recipe p {
  color: #a54328;
  font-size: 1.4rem;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.ingredients h3 {
  font-size: 1.4rem;
  color: #a54328;
}

ul,
ol {
  font-size: 1.4rem;
  color: #a54328;

  padding-left: 2.2rem;
}

button {
  width: 9.5rem;
  padding: 0.8rem 1.2rem;

  color: white;
  font-size: 1rem;
  font-weight: medium;
  line-height: 1.8rem;
  background: #a54328;

  border: none;
  border-radius: 0.6rem;
}

@media (min-width: 770px) {
  body {
    background-image: url(./assets/desktop.png);
  }
}

@media (min-width: 1050px) {
  main {
    flex-direction: row;
    max-width: fit-content;
    gap: 19rem;

    padding: 9rem 6rem;
  }

  .recipe {
    max-width: 43.5rem;
  }

  .ingredients {
    max-width: 52.5rem;
  }

  h1 {
    font-size: 4rem;
    line-height: 5rem;
  }

  .recipe p {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  li,
  h3 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  button {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    line-height: 2.4rem;

    width: 12.5rem;
  }
}
