* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;

  --color-base-white: white;
  --color-base-gray: #eeeeee;
  --color-base-gray-100: #f5f5f5;
  --color-base-gray-200: #8d8d99;
  --color-base-gray-300: #3d3d3d;
  --color-base-gray-600: #323238;
  --color-base-gray-700: #202024;
}

html,
body,
input {
  font-family: "Mulish", sans-serif;
}

body {
  font-size: 1.6rem;
  background: var(--color-base-white);
}

#app {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
}

.container {
  padding: 1.6rem 3.2rem;
  width: min(112rem, 100%);
  margin: 0 auto;
}

main {
  background: var(--color-base-gray-100);
  overflow-y: scroll;
}

/*header (menu ou cabeçalho)*/
header,
nav,
nav ul {
  display: flex;
  gap: 7.2rem;

  align-items: center;
  font-size: 1.8rem;

  font-weight: 700;
}

nav ul {
  list-style: none;
  color: var(--color-base-gray-200);
}

ul li.active {
  color: var(--color-base-gray-700);
}

form {
  flex: 1;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;
  background: var(--color-base-gray);
  padding: 1.2rem 1.6rem;
  border-radius: 0.5rem;
  border: none;

  font-size: 1.6rem;
  font-weight: 600;
}

.input-wrapper input::placeholder {
  color: var(--color-base-gray-300);
  opacity: 0.56;
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;

  border-radius: 50%;

  object-fit: cover;
}

/*Photo gallery*/
main .container {
  padding: 0 3.2rem 6.4rem;

  box-sizing: content-box;
}

main h1 {
  color: var(--color-base-gray-700);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 38.4px;

  padding: 3.6rem 0;
}

.gallery {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  place-content: center;

  gap: 2.4rem;
}

.item {
  background: var(--color-base-white);
  border-radius: 0.8rem;
  overflow: hidden;
}

.item img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.item img:hover {
  filter: hue-rotate(7deg) contrast(101%) saturate(200%);
  transform: scale(1.1) rotate(-2deg);
}

.details {
  padding: 2.4rem;
  background: var(--color-base-white);
  z-index: 1;
  position: relative;
}

.details h2 {
  color: var(--color-base-gray-700);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 1.2rem;
}

.tags span {
  color: var(--color-base-gray-700);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;

  text-transform: uppercase;

  padding: 0.8rem;
  background: var(--color-base-gray-100);
  border-radius: 0.6rem;
}

/*Footer*/
footer {
  text-align: center;
}

footer a {
  color: var(--color-base-gray-600);
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;

  padding: 1.6rem;
}

/*Header and footer animation*/
header {
  --startY: -100%;
  animation: move 0.5s;
}

footer {
  --startY: 100%;
  animation: move 0.5s;
}

@keyframes move {
  from {
    transform: translateY(var(--startY));
  }
}

.item {
  --delay: 0.4s;
  animation: appear 0.4s var(--delay) backwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  50% {
    transform: scale(1.2);
  }
}
